.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom:20px;
    padding-right: 10px;
    background-color: var(--header-bg);
    border-radius: 10px
}
.header_wrapper h1{
    font-weight: 500;
    font-size: 30px;
    color: var(--black);
}
.header_img_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}
.header_img_name_Wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.header_img_name_Wrapper p{
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}
.header_heading_step_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
}
.step_img{
    width: 180px;
}