*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body{
  background-color: var(--body-color);
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
ul li{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.universal_container{
  width: 100%;
  max-width: calc(100% - 300px);
  min-width: calc(100% - 300px);
  margin-left: auto;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 30px;
}