:root {
  --font: Roboto;
  --primary-color:#7C59CA;
  --secondary-color:#9D81E0;
  --linear-color: #AF91F5,#9D81E0;
  --black:#000;
  --body-color:#f2effa;
  --sidebar-bg:#7c5acbb8;
  --white:#fff;
  --whitegrey:#F2F2F2;
  --grey:#545454;
  --para-color:#303968;
  --header-bg:#f2effa;
  --box-white:#fff;
}

